.landing_page_image{
    height: 900px;
    width: 600px;
    /* float: left; */
}
.container{
    display: inline;
}
.left{
    float:left
}
.right{
    float:left;
}
.text{
margin-top: 385px;
margin-right: 100px;
width: 351px;
height: 85px;
text-align: center;
font: normal normal normal 64px/85px Palatino;
letter-spacing: 0px;
color: #006238;
opacity: 1;


}
