#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
input{
    margin-top: 10px;
    height:32px
}
#input_file{
    margin-left:95px;
    height:32px
}
#input_author, #input_location {
    width: 200px;
    display: inline;
    height:32px;
}
#input_description{
    width: 200px;
    height:32px;
}
button{
    width: 100px;
    margin-top: 15px;
    height:32px;
}